BASE_URL=http://localhost:3000
MONGODB_URI=mongodb://admin:admin@vtloc-shard-00-00-c7pgy.mongodb.net:27017,vtloc-shard-00-01-c7pgy.mongodb.net:27017,vtloc-shard-00-02-c7pgy.mongodb.net:27017/test?ssl=true&replicaSet=VTLOC-shard-0&authSource=admin